.reload{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #ccc;

}
.reload img{
    height: 5vh;
    width: 5vh;
    display: block;
    margin: 0 auto;
    position:relative;
    top: 43vh;
}

button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}
 /*
Sky Blue (Crayola) (#6DE5E7),
Bisque (#F7E0C6),
Light Goldenrod Yellow (#FBF6D6) and
Aero Blue (#C8F1E6).
*/
header{
    width: 100%;
    height: 5rem;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,.8);
    position: fixed;
    top: 0px;
    z-index: 2;
    min-width: 300px;
}

header .into{
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.menu{
    width:45%;
    height: 100%;
    display: flex;
}
.menu li{
    font-size: 1em;
    margin-left: 1%;
    margin-right: 2%;
}
.menu li img{
    width: 2.5em;
    height: 2.5em;
    margin-top: 1em;
}
.menu li span{
    display: inline-block;
    margin-left: .5em;
    margin-top: 1.5em;
    font-size: 1.2em;
}
.menu li:first-child{
}
.homeicon{
    width: 10%;
    height: 100%;
    text-align: center;
}
.homeicon img{
    width: 2.5em;
    height: 2.5em;
    margin-top: 1em;
}

header .rightarea{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
header .rightarea .searchbox{
    width: 50%;
    height: 2.5em;
    margin-top: 1em;
}
header .rightarea .searchbox input[type="search"]{
    width: 90%;
    border: 1px #999 solid;
    padding: 5px 10px 5px 10px;
    border-radius: 20px 20px 20px 20px;
}
header .rightarea .searchbox img{
    width: 6%;
    position: relative;
    top: 0.5em;
    left: -10%;

}

.accounticon{
    width: 10%;
}
.accounticon img{
    position: relative;
    top: 10%;
    border-radius: 50%;

}
header .rightarea .tweetbtn{

    width: 25%;
    height: 2.5em;
    margin-top: .5em;
    background-color: #aaa;
    color: #fff;
    font-weight: bold;
    border: 1px #ccc solid;
    border-radius: 20px 20px 20px 20px;

}

.main{
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    min-width: 300px;
}
.main .left{
    width: 25%;
}

.main .left .mydataarea{
    width: 100%;
    border-radius: 2px;
    background-color:#fff;
    padding-bottom: 1em;
}
.main .left .mydataarea .data{
    display: flex;

}
.main .left .mydataarea .data .accounticon{
    width: 30%;
    height: 8em;
    position: relative;
    top: -4em;
    left: 1em;
}
.main .left .mydataarea .data .accountdata{
    width: 70%;

}
.main .left .mydataarea .img{
    height: 100px;
    overflow: hidden;
}
.main .left .mydataarea .img img{
    width: 100%;
    object-fit: cover;
}
.main .left .mydataarea .data .name{
    width: 100%;
    font-size: 3em;
}
.main .left .mydataarea .data .disc{
    width: 100%;
    margin-top: 1em;
    font-size: 1.2em;
}
.main .left .mydataarea .data2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.main .left .mydataarea .data2 div{
    width: 30%;
}
.main .left .mydataarea .data2 div p:last-child{
    font-size: 2em;
}

.main .center{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.main .center .tweetline{
    width: 100%;
    border-radius: 2px 2px 0px 0px;
    background-color: #efefef;
    padding:10px 10px 10px 10px;
}
.main .center .tweetline .sendarea{
    display: flex;

}
.main .center .accounticon{
    height: 5em;
}
.tweetbox{
    width: 92%;
    border: 1px #ccc solid;
    border-radius: 5px;
    height: 100%;
}
#tweet_input{
    border: 1px #ccc solid;
    padding: 0.5em;
    font-size:1.2em;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    min-height: 4em;
}
#tweet_input.focus{
    border-radius: 5px 5px 0px 0px;
    min-height: 10em;
    outline: none;
}
#imgup{
    display: none;
}
#btnline{
    margin-top:0.5em;
}
#imgupbtn{
    border: none;
    background: none;
    width: 2em;
    height: 2em;
    vertical-align: top;

}
#imgup_content{
    width: 100%;
    position: relative;
    bottom: 0;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    display: none;
}
#imgup_content img{
    border-radius: 5px;
    width: 7em;
    height: 7em;
    object-fit: cover;
    margin-left: 0.1rem;
}
#imgup_content img + span{
    color: #fff;
    display: inline-block;
    position:relative;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    background-color: #000;
    vertical-align: top;
    left: -0.5em;
    top: -0.3em;
    border-radius: 50%;
    line-height: 1em;
    border: 0.5px #fff solid;
    cursor: pointer;
    text-align: center;
}
.btnline{
    width: 90%;
    margin-left: 10%;
}

#tweet_up{
    width: 20%;
    background-color: #fff;
    color: #000;
    border: 1px #fff solid;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    position:relative;
    right: 0;
    left: 73%;
}
.onetweetbox{
    background-color: #fff;padding: 0.5em;display: flex;
}
.onetweetbox .accounticon{
    width: 8%;
    text-align: center;
}
.onetweetbox .onetweet{
    background-color:#ccc;
    width: 90%;
    padding:0.5em;
    margin-left:0.5em;
    font-size: 1.8em;
    overflow:
}

.main .right{
    width: 300px;
    margin-right:10px;
    border-radius: 2px;
    background-color:#fff;
    padding: 1em;


}

@media screen and (max-width:1200px){
    .menu{
        margin-left:1%;
    }
    .main{
        width: 900px;
    }
    .main .center{
        width: 67%;
    }
    .main .left{
        width: 33%;
    }
    .main .right{
        display: none;
    }
    header .rightarea .tweetbtn{
        display: none;
    }
}
@media screen and (max-width: 820px){
    .main .left{
        display: none;
    }
    body{
        font-size: 1vw;
    }
    .menu li span{
        display: none;
    }
    .main{
        width: 100%;
    }
    .main .center{
        width: 100%;
    }
    header .into{
        width: 100% !important;
    }
    .searchbox{
        display: none;
    }
    header .accounticon{
        margin-right: 10%;
        width: 100%;
        text-align: right;
    }
    .center .tweetline .accounticon{
        display: none !important;
    }
    .center .tweetline .tweetbox{
        width: 100%;
    }
    .btnline{
        margin-left: 0;
        width: 100%;
    }
    #tweet_up{
        left: 70%;
    }
    .onetweet{
        font-size: 3em !important;
    }
    .onetweetbox .accounticon{
        width: 15%;
    }
}
@media screen and (max-width: 400px){
    .homeicon{
        display: none;
    }
    body{
        font-size: 5px;
    }
    .menu{
        width: 50% !important;
    }
    .menu li{
        margin-right: 10%;
    }
    .rightarea{
        width: 50% !important;
    }
}
